@using SafeShare.Client.Shared.Components
@inherits LayoutComponentBase

<style>
    .log-out-animation {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 0px 0px 13px;
    }
</style>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Elevation="3">

        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudDivider DividerType="MudBlazor.DividerType.Inset" />

        <MudTooltip Color="Color.Primary">
            <Notifications />
        </MudTooltip>

        <MudTooltip Text="@LogOutText" Color="Color.Primary" Placement="MudBlazor.Placement.Top">
            @if (hideLogOutBtn)
            {
                <div class="log-out-animation">
                    <MudProgressCircular Color="Color.Success" Indeterminate="true" Size="Size.Small" />
                </div>
            }
            else
            {
                <MudIconButton ClickPropagation="true" Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" Edge="Edge.End" OnClick="() => LogoutUser()" />
            }
        </MudTooltip>

    </MudAppBar>


    <MudDrawer @bind-Open="_drawerOpen" Elevation="3" Width="350px">

        <MudDrawerHeader>
            <MudText Typo="Typo.h5" Class="mt-1">Safe Share</MudText>
        </MudDrawerHeader>

        <NavMenu GroupTypes="this.GroupTypes" Snackbar="this._snackbar" DataRetrieved="this.DataRetrieved" />

    </MudDrawer>

    <CascadingValue Value="this">

        <MudMainContent>
            @Body
        </MudMainContent>

    </CascadingValue>

</MudLayout>