<style>
    @@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0faff;
    }

    .wrapper {
        height: 350px;
        width: 600px !important;
        position: relative;
        max-width: 500px;
        width: 100%;
        border-radius: 12px;
        padding: 20px 30px 120px;
        background: rgba(89,74,226,1);
        box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.1 );
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form.forgotPassword {
        position: absolute;
        left: 50%;
        bottom: -6%;
        transform: translateX( -50% );
        width: calc( 100% + 220px );
        padding: 20px 140px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        height: 100%;
        background: #fff;
        transition: all 0.6s ease;
    }

    .wrapper.active
    .form.forgotPassword {
        bottom: -15%;
        border-radius: 35%;
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    }

    .signup {
        width: 600px;
    }

    .form
    header {
        font-size: 30px;
        text-align: center;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }

    .form.forgotPassword
    header {
        color: #333;
        opacity: 0.6;
    }

    .wrapper.active
    .form.forgotPassword
    header {
        opacity: 1;
    }

    .wrapper.active
    .signup
    header {
        opacity: 0.6;
    }

    .wrapper
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
    }

    form
    input,
    .mudField {
        height: 60px;
        outline: none;
        border: none;
        padding: 0 15px;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        border-radius: 8px;
        background: #fff;
    }

    .form.forgotPassword
    input,
    .mudField {
        border: 1px solid #aaa;
    }

        .form.forgotPassword
        input:focus,
        .mudField {
            box-shadow: 0 1px 0 #ddd;
        }

    form
    .checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .checkbox
    input[type="checkbox"] {
        height: 16px;
        width: 16px;
        accent-color: #fff;
        cursor: pointer;
    }

    form
    .checkbox
    label {
        cursor: pointer;
        color: #fff;
    }

    form a {
        color: #333;
        text-decoration: none;
    }

        form
        a:hover {
            text-decoration: underline;
        }

    form
    input[type="submit"],
    .mudSubmitButton {
        margin-top: 15px;
        padding: 15px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }

    .form.forgotPassword
    input[type="submit"],
    .mudSubmitButton {
        background: rgba(89,74,226,1);
        color: #fff;
        border: none;
        transition: all ease-in-out 0.2s;
    }
</style>

<MudSnackbarProvider />

<section class="wrapper">

    <div class="form forgotPassword">

        <header>Forgot password</header>

        <EditForm @ref="ForgotPasswordEditForm" Model="@ForgotPassword">

            <DataAnnotationsValidator />

            <input type="email" @bind-value="@ForgotPassword.Email" placeholder="Input email..." required autocomplete="on" />

            <MudButton Disabled="@_processing" OnClick="(() => ForgotPasswordRequest())" Variant="Variant.Filled" Color="Color.Primary" Class="mudSubmitButton position-relative">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="MudBlazor.Size.Small" Indeterminate="true" Color="Color.Primary" />
                    <MudText Class="ms-2" Color="Color.Primary">REQUESTING IN PROGRESS</MudText>
                }
                else
                {
                    <MudText>REQUEST</MudText>
                }
            </MudButton>

            <MudButton OnClick="(() => RedirectToLoginPage())" Variant="Variant.Outlined" Color="Color.Primary" Class="position-relative">
                <MudText>Back to LogIn</MudText>
            </MudButton>

        </EditForm>

    </div>

</section>